.student-layout {
  display: flex;
  height: 100vh;
  background: #f5f7fb;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: linear-gradient(180deg, #0f2a44, #081b2f);
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  padding: 12px 16px;
  border-radius: 10px;
  text-decoration: none;
  color: #cfd8e3;
  font-size: 15px;
  transition: all 0.2s ease;
}
.menu-item.active {
  background-color: #1e3a8a; /* blue highlight */
  color: #ffffff;
  font-weight: 600;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

/* ACTIVE LINK */
.menu-item.active {
  background: #1e3a8a;
  color: white;
  font-weight: 600;
}

/* LOGOUT */
.logout-btn {
  margin-top: 30px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #dc2626;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #b91c1c;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}